html, body, h1, h2, h3, p, ul, ol, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif!important;
    font-size: 15px;
    background: #ffffff url(img/background1.jpg) top left repeat;
    padding: 0px;
}
ul, ol {
    margin: 0 0 0 50px;
}
p {
    line-height: 1.5;
}
h1 {
    margin: 10px auto;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    width: 30%;
}
h2 {
    margin: 10px 0 20px 0;
}
h3 {
    padding: 0 0 3px 0;
    border-bottom: 4px double #afeeee;
    margin: 15px 0 15px 0;
    color: #69cece;
}

.header {
    margin: 0 auto;
    width: 800px;
    background-color: #111111;
    padding: 10px 0px 20px 0px;
    color: #ffffff;
    text-align: center;
}
.header a {
    /* font-family: monaco,courier,monospace; */
    color: #ffffff;
}
.content{
    width: 600px;
    min-height: 76.4vh;
    background-color: #ffffff;
    padding: 20px 100px;
    margin: 0 auto;
}
.nav{
    margin: 0;
}
.nav a {
    text-decoration: none;
    padding: 1px 10px 3px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.nav a:hover {
    background-color: #afeeee;
    color: #111111;
}
.nav li{
    display: inline;
    margin: 0 3px 0 3px;
}
.recipes { 
    margin: 0;
    list-style-type: none;
}
.recipes li, .suggest-form {
    padding: 0 15px 15px 15px;
    border: 4px double #afeeee;
    border-radius: 8px;
    margin: 0 0 15px 0;
    min-height: 240px;
}
.recipes h3 {
    border: 0;
}
.recipes a {
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    width: 70px;
    padding: 5px 15px; 
    background: #afeeee;
    color: #666666;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}
.recipes a:hover {
    background-color: #69cece;
    color: #ffffff;
}
.recipes img {
    float: left;
    width: 150px;
    height: 220px;
    padding: 20px 20px 0 0;
}
.suggest-form input, .suggest-form label, .suggest-form textarea {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.suggest-form input {
    border: 1px solid #ddd;
    padding: 3px;
}
.suggest-form label {
    margin-top: 20px;
    margin-bottom: 6px;
}
.suggest-form label span{
    color: #69cece;
}
.suggest-form textarea {
    height: 100px;
    border: 1px solid #ddd;
}
.suggest-form input[type=submit] {
    width: 100px;
    margin: 20px auto 10px auto;
    padding: 5px 15px; 
    background: #afeeee;
    color: #666666;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out; 
}
.suggest-form input[type=submit]:hover {
    background-color: #69cece;
    color: #ffffff;
}